<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>商品列表</title>
	<link rel="stylesheet" href="/stylesheets/list.css" />
	<link rel="stylesheet" href="/stylesheets/common.css" />
	<link rel="stylesheet" href="/stylesheets/font/iconfont.css" />
</head>
<body>
	<div id="list">
		<h1>
			<p>ECSSHOP管理中心 - 商品列表</p>
			<img src="/images/jnsy.png" alt="" />
			<a href="#"> + 添加新商品</a>
		</h1>
		
	</div>
	<div class="serch">
		<i class="iconfont icon-49"></i>
		<em>关键字</em><input type="text" id="serchkey"/><button id="serchgood">搜索</button>
	</div>
	<table cellpadding="0" cellspacing="0" border="#ddd" id="conlist">
		<thead>
			<tr>
				<td>
					<input type="checkbox" class="checkall" id="makeall"/>
					<span>编号</span>
				</td>
				<td>商品名称</td>
				<td>货号</td>
				<td>价格</td>
				<td>上架</td>
				<td>精品</td>
				<td>新品</td>
				<td>热销</td>
				<td>推荐排序</td>
				<td>库存</td>
				<td>虚拟销量</td>
				<td>操作</td>
			</tr>
		</thead>
		
			<% for(var i = 0;i < list.length;i++){%>
			<tr class="trgood">
				<td>
					<input type="checkbox" class="makeone"/>
					<span><%= list[i].goodcode%></span>
				</td>
				<td>
					<%= list[i].goodname%>
				</td>
				<td>
					<%= list[i].goodnum%>
				</td>
				<td>
					<%= list[i].goodprice%>
				</td>
				<td>
					<i class="iconfont icon-duigou mrest"></i>
				</td>
				<td>
					<i class="iconfont icon-duigou mrest"></i>
				</td>
				<td>
					<i class="iconfont icon-error mrest"></i>
				</td>
				<td>
					<i class="iconfont icon-duigou mrest"></i>
				</td>
				<td>
					<%= list[i].sort%>
				</td>
				<td><%= list[i].date%></td>
				<td><%= list[i].sale%></td>
				<td class="make">
					<i class="iconfont icon-xiangqingye"></i>
					<i class="iconfont icon-pencircle"></i>
					<i class="iconfont icon-edit" gid="<%= list[i]._id%>"></i>
					<i class="iconfont icon-shanchu removegood" gid="<%= list[i]._id%>"></i>
				</td>
			</tr>
			<%}%>
	</table>
	<div id="page">
		总计 
		<span><%= all%></span>
		个记录&ensp;分为 
		<span><%= last%></span>
		页&ensp;当前第
		<span><%= pageNo%></span>
		页，每页 
		<input type="number" value = "<%= count%>" id="countp"/>
 		&ensp;|&ensp;
 		<a href="/show?pageNo=1&count=<%= count%>" style="color:#222">第一页 </a>
 		<%if(pageNo > 1){%>
 		<a href="/show?pageNo=<%= pageNo-1%>&count=<%= count%>" style="color:#222"><i>上一页</i></a>
 		<%}%>
 		
 		<%if(pageNo < last){%>
 		<a href="/show?pageNo=<%= pageNo+1%>&count=<%= count%>" style="color:#222"><i>下一页</i></a>
 		<%}%>
 	
 		<a href="/show?pageNo=<%= last%>&count=<%= count%>" style="color:#222"><i>最末页 </i></a>
 		<select name="" id="">
 			<%for(var i = 1 ;i<=last;i++){%>
 			<option value="<%= i%>"><%= i%></option>
 			<%}%>
 		</select>
 		&ensp;
	</div>
		<div id="bottom">
		<p>共执行 9 个查询，用时 0.024420 秒，Gzip 已禁用，内存占用 3.585 MB</p>
		<p>版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。</p>
	</div>
</body>
</html>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/list.js"></script>
